<form #myForm="ngForm">

    <div style="width: 400px; margin: auto;">
        <div class="submit-form">
          <div *ngIf="!submitted">
            <div class="form-group">
              <label for="fullname">NAME</label>
              <input
                type="text"
                class="form-control"
                id="fullname"
                [(ngModel)]="person.fullname"
                name="fullname"
                required
              />
            </div>
      
            <div class="form-group">
                <label for="birth">BIRTH</label>
                <input
                  type="date"
                  class="form-control"
                  id="birth"
                  [(ngModel)]="person.birth"
                  name="birth"
                  required
                />
              </div>
              
            <button (click)="savePerson()" class="btn btn-success">Submit</button>
          </div>
          
          <div *ngIf="submitted">
            <h4>You submitted successfully!</h4>
            <button class="btn btn-success" (click)="newPerson()">Add</button>
          </div>
          
        </div> 
      </div>
      {{msgError}}
    </form>