
<div class="container">
    <div class="card">
      <h3 class="text-center">Person List</h3>
      <div class="card-body">
      <div class="form-group form-inline">
        Search person by name:
        <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="searchTerm"
          (input)="search($event.target.value)" />
      </div>
        <table class="table table-striped">
          <thead>
            <th>ID</th>
            <th>NAME</th>
            <th>BIRTHDAY</th>
            <th></th>
          </thead>
          <tbody>
            <tr *ngFor="let item of personSet | listFilter: searchTerm ; let i = index " >
              <td>{{item.id}}</td>
              <td>{{item.fullname}}</td>
              <td>{{item.birth}}</td>
              <td>
                <button class="btn btn-info btn-sm"    
                (click)="triggerModal(modalData, item)">
                  Edit </button>
                  &nbsp;
                <button class='btn btn-danger btn-sm' (click)="deletePerson(item.id)" >
                  Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  </div>
  
  
  <ng-template #modalData let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Edit Person</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
  
      <div style="width: 400px; margin: auto;">
        <div class="submit-form">
            <div class="form-group">
              <label for="id">ID</label>
              <input
                disabled
                type="number"
                class="form-control"
                id="id"
                required
                [(ngModel)]="currentPerson.id"
                name="id"
              />
            </div>
            <div class="form-group">
              <label for="fullname">NAME</label>
              <input
                type="text"
                class="form-control"
                id="fullname"
                required
                [(ngModel)]="currentPerson.fullname"
                name="fullname"
              />
            </div>
            <div class="form-group">
                <label for="birth">BIRTH</label>
                <input
                  type="date"
                  class="form-control"
                  id="birth"
                  required
                  [(ngModel)]="currentPerson.birth"
                  name="person"
                />
            </div>
          </div>
      </div>
    
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" 
      
      (click)="updatePerson()"
      
      (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>
  
  <hr>
  
  <div class="row">
    <div class="col-md-3">
      <h4>Person List</h4>
      <ul class="list-group">
        <li 
          class="list-group-item" 
          *ngFor="let personId of personSet; let i = index" 
          [class.active]="i == currentIndex"
          (click)="setActivePerson(personId, i)">
          <div class="col">{{ personId.fullname }}</div>
        </li>
      </ul>
    </div>
  </div>
  
  <hr>
  
  <div class="card-text">
    <form #f="ngForm" class="form-inline">
      <div class="form-group">
        <label for="id">ID:</label>
        <input [(ngModel)]="idPerson" id="name" name="name" class="form-control ml-2 mr-2">
      </div>
      <button (click)="retrievePerson(idPerson)" class="btn btn-primary">Search</button>
    </form>
      <div class="col-md-6">
    <div *ngIf="currentPerson" >
      <div>
        <label><strong>id:</strong></label> {{ currentPerson.id }}
        <label><strong>name:</strong></label> {{ currentPerson.fullname}}
        <label><strong>birth:</strong></label> {{ currentPerson.birth}}
      </div>
    </div>
    <label><strong></strong></label> {{ msgError }}
  </div>
  </div>
  